{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Bookmark buddy is a fun and easy to use web app for keeping track of your favourate websites.
  </p> 
  
  
  

</section>

<section>
  <br>
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="https://cdn.glitch.com/2e7e195f-8aeb-4aa6-9de5-9981c0a9cf45%2Ftyuiop.jpg?1520616293510">
  <h1>Kevin O'Keeffe</h1>
  <p class="title">Web Designer</p>
  <p>Waterford Institute of Technology</p>
 
  <a href="https://www.linkedin.com/in/kevin-o-keeffe-03173765/"><i class="fa fa-linkedin"></i></a> 
  <a href="https://www.facebook.com/kevokeeffeart/?ref=settings"><i class="fa fa-facebook"></i></a> 
  <p><button>Contact</button></p>
</div>
  
  
  
  <p>
  <i class= "ireland flag"></i><br><br>
</p>
</section>