{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Welcome to your Bookmark Buddy. Bookmark buddy is a fun and easy to use web app for keeping track of your favourate websites.
  </p>
  
  
  
  <p>
    <i class= "ireland flag">&#169; Kevin O'Keeffe</i><br><br>
  </p>
</section>