{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{bookmark.title}}
  </h2>
  {{>listWebsites}}
  <p>
  <i class= "ireland flag">&#169; Kevin O'Keeffe</i><br><br>
</p>
</section>
