{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Your Bookmark Buddy
  </h1>
  <p>
    A small app to let you bookmark your favourite websites.
  </p>
  
  

</section>


  <section class="ui center aligned middle aligned segment">
  
<div class="slider slider1">
    <div class="slides">
      <div class="slide-item item1">
        <img src="https://cdn.glitch.com/2e7e195f-8aeb-4aa6-9de5-9981c0a9cf45%2Fbookmark.jpg?1520600705395">
      </div>
      
  </div>
  </div>
</section>

<script>
$('.slider').glide({
  autoplay: false,
  arrowsWrapperClass: 'slider-arrows',
  arrowRightText: '',
  arrowLeftText: ''
});
  
</script>