{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Your Bookmark Buddy
  </h1>
  <p>
    A small app to let you bookmark your favourite websites.
  </p>
</section>