{{> menu id="uxdesign"}}

<section class="ui center aligned middle aligned segment">
  <p>
We’ve all overheard conversations, walking down hip streets of the world’s tech capitals, discussions about the great ‘UX’ of a product, or the poor ‘UI’ of a website. Is it a secret language you will never be privy to? Are these people just using slang to look cool?
Well, ok probably yes to the latter, but a determinate NO to the rest. Read on to learn what these terms mean, which jobs are better paid, and how to become a UX designer or UI designer.
Scroll to the middle of the post to watch a video of me speaking about this article, and giving you some extra info on what being a UX or UI Designer really means.
The Acronyms Unveiled
The people you have eavesdropped on are actually discussing two professions that despite having been around for decades, and in theory for centuries, have been defined by the tech industry as UX and UI Design.
UX Design refers to the term User Experience Design, while UI Design stands for User Interface Design. Both elements are crucial to a product and work closely together. But despite their professional relationship, the roles themselves are quite different, referring to very different parts of the process and the design discipline. Where UX Design is a more analytical and technical field, UI Design is closer to what we refer to as graphic design, though the responsibilities are somewhat more complex.
There is an analogy I like to use in describing the different parts of a (digital) product:
If you imagine a product as the human body, the bones represent the code which give it structure. The organs represent the UX design: measuring and optimizing against input for supporting life functions. And UI design represents the cosmetics of the body–its presentation, its senses and reactions.
But don’t worry if you’re still confused! You’re not the only one!
As Rahul Varshney, Co-creator of Foster.fm puts it:
User Experience (UX) and User Interface (UI) are some of the most confused and misused terms in our field. A UI without UX is like a painter slapping paint onto canvas without thought; while UX without UI is like the frame of a sculpture with no paper mache on it. A great product experience starts with UX followed by UI. Both are essential for the product’s success.
  </p>
</section>