{{> menu id="uxdesign"}}

<section class="ui center aligned middle aligned segment">
  <p>
User experience (UX) design is the process of creating products that provide meaningful and personally relevant experiences. 
    This involves the careful design of both a product’s usability and the pleasure consumers will derive from using it. 
    It is also concerned with the entire process of acquiring and integrating the product, including aspects of branding, 
    design, usability, and function.
  </p>
  <p>
   <i class= "ireland flag">&#169; Kevin O'Keeffe</i><br><br>
  </p>
</section>